<mat-divider></mat-divider>
<br>

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="30" class="col-lg-3 col-12 mr-4" style="height:200px;">
        <app-widget-card label="number of category" class="mt-4" [total]="categoryNumber.total">
            
        </app-widget-card>
    </mat-card>
    <mat-card fxFlex="30" class="col-lg-3 col-12 mr-4" style="height:200px;">
        <app-widget-card label="number of products" total="10k"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="30" class="col-lg-3 col-12 mr-4" style="height:200px;">
        <app-widget-card label="number of users" total="8k"  ></app-widget-card>
    </mat-card>
   
</div>

<br>
<br>

