

<!-- Cart Empty-->
<ng-container *ngIf="products.length ==0">
  <section class="section-content padding-y">

  <div class=" customContainer">
    <div class="CustomCard">
    </div>
    <div class="CustomCenter">
     <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
     <h4>Your Cart is empty!</h4>
     <h6>Add items to it Now</h6>
     <button class="btn " style="background-color:#c84b31 ; color:#fff" routerLink="">Shop Now</button>
    </div>
  </div>
  </section>
</ng-container>


  <!-- ========================= SECTION CONTENT ========================= -->
<ng-container  *ngIf="products.length !=0">
  <section class="section-content padding-y">
    <div class="container">

    <div class="row">
        <main class="col-md-9">
    <div class="card">

    <table class="table table-borderless table-shopping-cart">
    <thead class="text-muted">
    <tr class="small text-uppercase">
      <th scope="col">Product</th>
      <th scope="col" width="120">Quantity</th>
      <th scope="col" width="120">Price</th>
      <th scope="col" class="text-right" width="200"> </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of products">
        <td>
            <figure class="itemside">
                <div class="aside"><img src="{{item.pictureUrl}}" class="img-sm"></div>
                <figcaption class="info">
                    <a routerLink="product/{{item.id}}" class="title text-dark">{{item.name}}</a>
                    <p class="text-muted small"> Category: {{item.productBrand}} <br> /{{item.productType}}</p>
                </figcaption>
            </figure>
        </td>
        <td>
            <select class="form-control" id={{item.id}} (change)="selected($event , item)">
                <option [value]="1">1</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="3">4</option>
            </select>
        </td>
        <td>
            <div class="price-wrap">
                <var class="price " id="id{{item.id}}">"{{item.price}}"EGP</var>
                <small class="text-muted"> {{item.price}}EGP each </small>
            </div> <!-- price-wrap .// -->
        </td>
        <td class="text-right">
        <a data-original-title="Save to Wishlist" title="" class="btn btn-light mr-2" data-toggle="tooltip"> <i class="fa fa-heart"></i></a>
        <a class="btn btn-light" (click)="removeItem(item)"> Remove</a>
        </td>
    </tr>

    </tbody>
    </table>

    <div class="card-body border-top">
        <a  class="btn  float-md-right" style="background-color:#c84b31 ; color:#fff"> Make Purchase <i class="fa fa-chevron-right"></i> </a>
        <a routerLink="" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
    </div>
    </div> <!-- card.// -->



        </main> <!-- col.// -->
        <aside class="col-md-3">
            <div class="card mb-3">
                <div class="card-body">
                <form>
                    <div class="form-group">
                        <label>Have coupon?</label>
                        <div class="input-group">
                            <input type="text" class="form-control" name="" placeholder="Coupon code">
                            <span class="input-group-append">
                                <button class="btn " style="background-color:#c84b31; color:#fff">Apply</button>
                            </span>
                        </div>
                    </div>
                </form>
                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
            <div class="card">
                <div class="card-body">
                        <dl class="dlist-align">
                          <dt>Total price:</dt>
                          <dd class="text-right">{{grandTotal}}EGP</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>Discount:</dt>
                          <dd class="text-right">{{0}}EGP</dd>
                        </dl>
                        <dl class="dlist-align">
                          <dt>Total:</dt>
                          <dd class="text-right  h5"><strong>{{grandTotal}}EGP</strong></dd>
                        </dl>
                        <hr>
                        <p class="text-center mb-3">
                            <img src="assets/img/misc/payments.png" height="26">
                        </p>

                </div> <!-- card-body.// -->
            </div>  <!-- card .// -->
        </aside> <!-- col.// -->
    </div>

    </div> <!-- container .//  -->
    </section>
</ng-container>
  <!-- ========================= SECTION CONTENT END// ========================= -->

