<mat-nav-list class="margin-left:20px;">
    <div class="profile-card">
        <div class="header">
            <h2>B2lesta</h2>
        </div>
        <img src="../../../../../../assets/images/adminlogo.png" alt="">
    </div>
    <mat-divider></mat-divider>
    <h2 matSideHeader style="color:#de5538;  margin-left: 10px; margin-top: 10px; font-size: 25px;">Pages</h2>

           <a mat-list-item routerLinkActive="list-item-active" routerLink=""><i class="fas fa-home mr-2" style="font-size: 18px; "></i>Home</a>
           <mat-divider>
           </mat-divider>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard"><i class="fas fa-caret-right"></i>Dashboard</a>

            <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/product"><i class="fas fa-caret-right"></i>Product</a>

            <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/category"><i class="fas fa-caret-right"></i>Category</a>

            <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin/dashboard/subcategory"><i class="fas fa-caret-right"></i>Sub Category</a>




   <!-- <h2 matSideHeader>Tools</h2>
   <a mat-list-item routerLinkActive="list-item-active"
   routerLink="dashboard/contact">
   <mat-icon>import_contacts</mat-icon>
   contact
</a>
<a mat-list-item routerLinkActive="list-item-active"
   routerLink="dashboard/contact">
   <mat-icon>contact_phone</mat-icon>
   leads
</a>
</mat-nav-list>
 -->


